@import "tailwindcss";

:root {
  --entry: hsl(51, 100%, 50%);
  --entry-hover: hsl(48, 100%, 50%);
}

@theme inline {
  --color-entry: var(--entry);
  --color-entry-hover: var(--entry-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: hsl(240, 6%, 3%);
  color: hsl(0, 0%, 95%);
  font-family: Arial, Helvetica, sans-serif;
}